@import url(/styles/main.css);

.side_bar{
    background-color: var(--white);
    height: 100%;
    display: flex;
    flex: 17.4%;
    width: 300px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
}
.logo{
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.material-symbols-outlined{
    height: 60px;
    aspect-ratio: 1;
}
main{
    flex: 80.6%;
    height: 100%;
}
ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
hr{
    width: 200px;
    margin:0px ;
}
main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:11.6%;

}
.search input{
    width: 350px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 71px;
}
.profile{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}
.profile p{
    font-size: 30px;
    color: var(--charcoal);
    text-align: end;
}
.dashboard{
    flex: 88.4%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 10px;
}
.card{
    width: 300px;
    height: 150px;
    background-color: var(--white);
    border-radius:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    box-shadow: 11px 11px 8.3px hsla(0, 0%, 20%, 0.566);
}
.analysis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    height: 100%;
}
.diabetes_graph{
    flex: 33.3%;
    border: 1px solid ;
    height: 80%;
}
.hypertesion_graph{
    flex: 33.3%;
    border: 1px solid ;
    height: 80%;
}
.calendar{
    flex: 33.3%;
    border: 1px solid;
    height: 80%;
}